* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

html, body {
  height: 100%;
}

body {
  background: url(https://images.unsplash.com/photo-1464654004000-d6f0d04be348?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  margin: 0 auto;
  height: 100%;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.85);
}

.app {
  display: grid;
  height: 100%;
  grid-template: 300px 1fr / 1fr 3fr;
  overflow: auto;
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  padding: 20px;
  text-align: right;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  padding: 20px;
}


.section {
  margin-bottom: 15px;
}

li {
  list-style: none;
}

.header {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.header > h2 {
  font-size: 20px;
  margin: 5px 10px;
}

.sidebar .header {
  flex-direction: row-reverse;
}

.header:hover .add-button {
  display: flex;
  align-items: center;
}

.add-button {
  display: none;
}

/* introduction */

#introduction {
  grid-area: 1 / 1 / 2 / 3;
  padding: 20px;
  display: grid;
  grid-template: 1fr 25px / 250px 1fr;
}

#portrait {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 50%;  
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
}

#person-text {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portrait-url {
  grid-area: 2 / 1 / 2 / 2;
  margin: 0 auto;
}

#portrait-url > *{
  margin-left: 20px;
}

#person-text > .name {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

#person-text > .title {
  font-size: 25px;
  margin: 10px;
}

#person-text > .desc {
  font-size: 15px;
  margin: 10px;
}

/* sidebar */

.contact-item,
.skill-item {
  display: grid;
  grid-template: 1fr / 1fr 20px;
  margin: 10px 0px 10px 30px;
}

.contact-item .first,
.skill-item .first {
  grid-area: 1 / 1 / 2 / 2;
}

.contact-item .second,
.skill-item .second {
  grid-area: 1 / 2 / 2 / 3;
  display: none;
}

.contact-item:hover .second,
.skill-item:hover .second {
  display: flex;
  justify-content: flex-end;
}

.contact-item p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

/* main */

.dates {
  display: flex;
}

.dates > span {
  margin: 0 5px;
}

.ed-item,
.exp-item  {
  display: grid;
  grid-template: 1fr / 1fr 2fr 30px;
  margin: 10px 0px 10px 30px;
}

.ed-item .first,
.exp-item .first {
  grid-area: 1 / 1 / 2 / 2;
}

.ed-item .second,
.exp-item .second {
  grid-area: 1 / 2 / 2 / 3;
}

.ed-item .third,
.exp-item .third {
  grid-area: 1 / 3 / 2 / 4;
  display: none;
  justify-content: flex-end;
}

.ed-item:hover .third,
.exp-item:hover .third {
  display: flex;
}
